<div id="addbook" class="view full-page-intro">
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
        <div class="container">

            <div class="row wow fadeIn">
              <div class="col-md-3"></div>
              <!-- Center -->
                <div class="card col-md-6">


                    <!-- Card -->
                        <div class="card-body">
                          <h4 class="card-title text-center">Add a book</h4>
                            <!-- Book input form -->
                            <div class="md-form">

                                  <i class="fa fa-book prefix"></i>
                                  <input type="text" id="inputIconEx1" class="form-control">
                                  <label for="inputIconEx1">Type the name of the book</label>

                                  <div id="book-input-buttons">
                                    <a href="/profile#my-books" class="mb-1 btn btn-outline-dark waves-effect waves-dark">Add to Library</a>
                                    <a href="/profile#my-wishlist" class="mb-1 btn btn-outline-dark waves-effect waves-dark">Add to Wish List</a>
                                  </div>
                            </div>
                            <!-- Book input form -->
                        </div>
                </div>

              <div class="col-md-3"></div>
            </div>
            </div>
        </div>
    </div>
</div>
