<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top scrolling-navbar">
  <div class="container">
      <a class="navbar-brand" href="./">
        <img src="http://www.iconninja.com/files/640/938/346/note-book-icon.png" height="50" alt="">
      </a>
        <a class="navbar-brand font-weight-bold " href="./">BookHunter</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left -->
                <ul class="navbar-nav mr-auto smooth-scroll">
                    <li class="nav-item">
                        <a class="nav-link" href="#my-books">My Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#my-wishlist">My Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#requests-for-me">Trade Requests for me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#my-requests">My Trade Requests</a>
                    </li>
                </ul>

                <!-- Right -->
                <ul class="nav navbar-nav ml-auto smooth-scroll">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {{cur_user.username}}</a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Settings</a>
                      <a class="dropdown-item" href="/logout">Log Out</a>
                    </div>
                  </li>
                </ul>
        </div>

    </div>

</nav>
<!--Navbar-->

<div id="dashboard" class="view full-page-intro">
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
        <div class="container-fluid">

          <!-- My Books -->
            <div id="my-books" class="container" style="padding: 20px 0px;">
              <div class="col-md-12">
                <div class="mt-4 card " style="padding: 30px 20px 0px 20px;">
                  <div clas="card-header">
                      <div class="text-center">
                        <h2 class="h2-responsive"><i class="fa fa-book"></i> My Books</h2>
                      </div>
                  </div>
                  <div class="card-body">
                      <p> Coming soon..</p>
                  </div>

                </div>
              </div>
            </div>

          <!-- My Wishlist -->
            <div id="my-wishlist" class="container" style="padding: 20px 0px;">
                <div class="col-md-12">
                  <div class="mt-4 card " style="padding: 30px 20px 0px 20px;">
                    <div clas="card-header">
                        <div class="text-center">
                          <h2 class="h2-responsive"><i class="fa fa-book"></i> My Wishlist</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <p> Coming soon..</p>
                    </div>

                  </div>
                </div>
              </div>

          <!-- Trade Requests for me-->
            <div id="requests-for-me" class="container" style="padding: 20px 0px;">
                  <div class="col-md-12">
                    <div class="mt-4 card " style="padding: 30px 20px 0px 20px;">
                      <div clas="card-header">
                          <div class="text-center">
                            <h2 class="h2-responsive"><i class="fa fa-book"></i> Trade Requests for me</h2>
                          </div>
                      </div>
                      <div class="card-body">
                          <p> Coming soon..</p>
                      </div>

                    </div>
                  </div>
                </div>

          <!-- My Trade Requests-->
            <div id="my-requests" class="container" style="padding: 20px 0px;">
                        <div class="col-md-12">
                          <div class="mt-4 card " style="padding: 30px 20px 0px 20px;">
                            <div clas="card-header">
                                <div class="text-center">
                                  <h2 class="h2-responsive"><i class="fa fa-book"></i> My Trade Requests </h2>
                                </div>
                            </div>
                            <div class="card-body">
                                <p> Coming soon..</p>
                            </div>

                          </div>
                        </div>
                      </div>

        </div>
    </div>
</div>
