<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>BookHunter</title>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="css/mdb.min.css" rel="stylesheet">
        <!-- Our custom styles -->
        <link href="css/app.css" rel="stylesheet">



    </head>

    <body>


        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light scrolling-navbar">
            <div class="container">
              <a class="navbar-brand" href="./">
                <img src="http://www.iconninja.com/files/640/938/346/note-book-icon.png" height="50" alt="">
              </a>
                <a class="navbar-brand font-weight-bold " href="./">BookHunter</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- Left -->
                        <ul class="navbar-nav mr-auto smooth-scroll">
                            <li class="nav-item">
                                <a class="nav-link" href="./#about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/allbooks">All Books</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/help">Help</a>
                            </li>
                        </ul>
                        <!-- Right -->
                        {{#if currentUser}}
                        <ul class="nav navbar-nav ml-auto smooth-scroll">
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>{{currentUser.first}} {{currentUser.last}}</a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item" href="/profile">Profile</a>
                                  <a class="dropdown-item" href="/settings">Settings</a>
                                  <a class="dropdown-item" href="/logout">Log Out</a>
                                </div>
                              </li>
                        </ul>
                        {{else}}
                        <ul class="nav navbar-nav ml-auto smooth-scroll">
                            <li class="nav-item">
                                <a class="nav-link" href="/signup" >Sign Up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login" >Log In</a>
                            </li>
                        </ul>
                        {{/if}}
                </div>

            </div>

        </nav>
        <!--Navbar-->

        {{{body}}}



        <!-- SCRIPTS -->
        <!-- JQuery -->
        <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="js/mdb.min.js"></script>


    </body>

</html>
