<div id="allbooks" class="view full-page-intro">
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row wow fadeIn">
                <div class="col-md-3"></div>
                <!-- Center -->
                <div class="col-md-12">
                    <!-- Card -->

                    <div class="card">
                        <div class="card-body">
                            <p class="h4 text-center mb-4"><strong>View all Available Books!</strong></p>
                            <p class="card-text"> Use this area to hunt for your books! </p>
                            <div class="allbooks">
                              <!-- This area will populate the books that users claim they have in possesion -->
                              <!-- Dummy class: allbooks -->
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
</div>
