html,
body,
header,
#intro,
#signup,
#login,
#allbooks,
#helppage,
#profile,
#dashboard {
    height: 100%;
}

#intro {
    background: url("/img/book_background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#signup {
    background: url("/img/signup_background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#login {
    background: url("/img/login_background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#allbooks {
    background: url("/img/allbooks_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 12vh;

}

#helppage {
    background: url("/img/helppage_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#profile{
    background: url("/img/profile.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#dashboard {
    background: url("/img/dashboard.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0px;
}
