html,
body,
header,
#intro,
#signup,
#login,
#allbooks,
#helppage,
#addbook {
    height: 100%;
}

#intro {
    background: url("/img/book_background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#signup {
    background: url("/img/signup_background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#login {
    background: url("/img/login_background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#allbooks {
    background: url("/img/allbooks_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 12vh;

}

#helppage {
    background: url("/img/helppage_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#profile {
  min-height: 100%;
  background: url("/img/profile1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#search {
  min-height: 100%;
  background: url("/img/profile1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#addbook{
    background: url("/img/addbook.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0px;
}

/* For the allbooks card to have margin */
.card {
  margin: 80px 0px 80px 0px;
}
#profile-books {
  margin: 100px 0px 0px 0px;
}

/* Buttons for addbook page */
#book-input-buttons {
  text-align: center;
}

/* White text input for search form on profile page */
.change::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #ffffff;
}
.change:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ffffff;
    opacity: 1;
}
.change::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ffffff;
    opacity: 1;
}
.change:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ffffff;
}

.card-header{
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
