<div id="signup" class="view full-page-intro">
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row wow fadeIn">
                <div class="col-md-3"></div>
                <!-- Center -->
                <div class="col-md-6">
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <!-- Form register -->
                            <form action="/signup" method="POST">

                                <!-- Flash messages -->
                                {{#if error}}
                                    <div class="alert alert-danger" role="alert">
                                        {{error}}
                                    </div>
                                {{/if}}

                                {{#if success}}
                                    <div class="alert alert-success" role="alert">
                                        {{success}}
                                    </div>
                                {{/if}}

                                {{#if warning}}
                                    <div class="alert alert-warning" role="alert">
                                        {{warning}}
                                    </div>
                                {{/if}}
                                
                                <p class="h4 text-center mb-4">Sign up</p>
                                <!-- First Name -->
                                <div class="md-form">
                                    <i class="fa fa-user prefix light-blue-text"></i>
                                    <input type="text" name="first_name" id="materialFormCardNameEx" class="form-control" required>
                                    <label for="materialFormCardNameEx" class="font-weight-light">First Name</label>
                                </div>

                                <!-- Last Name -->
                                <div class="md-form">
                                    <i class="fa fa-user prefix light-blue-text"></i>
                                    <input type="text" name="last_name" id="materialFormCardNameEx" class="form-control" required>
                                    <label for="materialFormCardNameEx" class="font-weight-light">Last Name</label>
                                </div>

                                <!-- Email -->
                                <div class="md-form">
                                    <i class="fa fa-envelope prefix light-blue-text"></i>
                                    <input type="email" name="username" id="materialFormCardEmailEx" class="form-control" pattern=".+@myhunter.cuny.edu"
                                         title="Please provide only your @myhunter.cuny.edu email address" required>
                                    <label for="materialFormCardEmailEx" class="font-weight-light">Your @myhunter.cuny.edu email </label>
                                </div>

                                <!-- Password -->
                                <div class="md-form">
                                    <i class="fa fa-lock prefix light-blue-text"></i>
                                    <input type="password" name="password" id="materialFormCardPasswordEx1" class="form-control validate" required>
                                    <label for="materialFormCardPasswordEx1" class="font-weight-light">Password</label>
                                </div>

                                <!-- Confirm Password -->
                                <div class="md-form">
                                    <i class="fa fa-lock prefix light-blue-text"></i>
                                    <input type="password" name="confirm_password" id="materialFormCardPasswordEx2" class="form-control validate" required>
                                    <label for="materialFormCardPasswordEx2" class="font-weight-light">Confirm password</label>
                                </div>

                                <div class="text-center mt-4">
                                    <button class="btn btn-light-blue" type="submit">Register</button>
                                </div>
                            </form>
                            <!-- Form register -->
                            <p class="font-small grey-text d-flex justify-content-end">Have an account? <a href="/login" class="light-blue-text ml-1"> Log in here</a></p>
                        </div>
                    </div>
                    <!-- Card -->

                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/confirmpw.js"></script>
