<div id="login" class="view full-page-intro">
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row wow fadeIn">
                <div class="col-md-3"></div>
                <!-- Center -->
                <div class="col-md-6">
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <!-- Form login -->
                            <form>
                                <p class="h4 text-center mb-4">Log in</p>

                                <!-- Email / Username -->
                                <div class="md-form">
                                    <i class="fa fa-envelope prefix light-blue-text"></i>
                                    <input type="email" name="username" id="materialFormLoginEmailEx" class="form-control" required>
                                    <label for="materialFormLoginEmailEx">Your @myHunter.cuny.edu email</label>
                                </div>

                                <!-- Password -->
                                <div class="md-form">
                                    <i class="fa fa-lock prefix light-blue-text"></i>
                                    <input type="password" name="password" id="materialFormLoginPasswordEx" class="form-control">
                                    <label for="materialFormLoginPasswordEx">Your password</label>
                                    <p class="font-small light-blue-text d-flex justify-content-end">Forgot <a href="#" class="light-blue-text ml-1"> Password?</a></p>
                                </div>

                                <div class="text-center mt-4">
                                    <button class="btn btn-light-blue" type="submit">Login</button>
                                </div>

                                <p class="font-small grey-text d-flex justify-content-end">Not a member? <a href="/signup" class="light-blue-text ml-1"> Sign Up</a></p>

                            </form>
                            <!-- Form login -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
</div>
