


<!-- Intro Section: BookHunter -->
<div id="intro" class="view">
     <div class="container-fluid full-bg-img rgba-black-light d-flex align-items-center justify-content-center">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 text-center back">

                <h2 class="display-3 font-bold white-text mb-2">BookHunter</h2>

                <hr class="hr-light">
                <!-- Description -->
                <h4 class="white-text my-4">BookHunter is a platform exclusive to Hunter College students that allows the for listing and exchanging of textbooks relating to your course work. BookHunter was created to alleviate stress associated with getting ready for a new semester.</h4>
                <a href="#about" class="btn btn-outline-white waves-effect waves-light">Learn more<i class="fa fa-book ml-2"></i></a>
            </div>
        </div>

     </div>
</div>
<!-- Intro Section: BookHunter  -->


<main class="mt-5">
<!-- Other Sections -->
<div class="container">
    <!-- Section: About / Why BookHunter?-->
    <section id="about" class="text-center">

        <h2 class="mb-4 font-weight-bold text-center ">Why BookHunter?</h2>

        <div class="row d-flex justify-content-center mb-4">
            <div class="col-md-8">
                <!-- Description -->
                <p>Gathering all of your textbooks for a new semester can be tricky, expensive and time consuming! We aim to make this process easier by creating one hub for everyones needs, and best of all, its free!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-4">
                <i class="fa fa-book fa-4x blue-text"></i>
                <p class="font-weight-bold">List textbooks you no longer want.</p>
            </div>
            <div class="col-md-4 mb-4">
                <i class="fa fa-list-ul fa-4x blue-text"></i>
                <p class="font-weight-bold">Request new textbooks through the wishlist.</p>
            </div>
            <div class="col-md-4 mb-4">
                <i class="fa fa-envelope fa-4x blue-text"></i>
                <p class="font-weight-bold">Message other users to perform an exchange.</p>
            </div>
        </div>
    </section>
    <!-- Section: About / Why BookHunter?-->

    <hr class="my-5">

    <!-- Section: Team / Who are we?-->
    <section id="team" class="text-center">

        <h2 class="mb-4 font-weight-bold text-center">Who are we?</h2>

        <div class="row d-flex justify-content-center mb-4">
            <div class="col-md-8">
                <!-- Description -->
                <p>This project was brought forth through the Computer Science Capstone Course at Hunter College.</p>
            </div>
        </div>

            <!--Team member cards-->
            <div class="col-md-12">
                <div class="card-deck">
                    <!--Olga Kent-->
                    <div class="card mb-3">
                        <!--Olga Kent image-->
                        <div class="view overlay">
                            <img class="img-fluid" src="https://images.pexels.com/photos/356378/pexels-photo-356378.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb" alt="Olga Kent">
                            <a href="https://www.linkedin.com/in/olga-kent/">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!--Olga Kent content-->
                        <div class="card-body">
                            <h4 class="card-title">Olga Kent</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <!--Olga Kent-->

                    <!--Matthew Vardi-->
                    <div class="card mb-3">
                        <!--Matthew Vardi image-->
                        <div class="view overlay">
                            <img class="img-fluid" src="https://images.pexels.com/photos/86405/penguin-funny-blue-water-86405.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb" alt="Matthew Vardi">
                            <a href="https://www.linkedin.com/in/matthewvardi/">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!--Matthew Vardi content-->
                        <div class="card-body">
                            <h4 class="card-title">Matthew Vardi</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <!--Matthew Vardi-->

                    <!--Tony Jiang-->
                    <div class="card mb-3">
                        <!--Tony Jiang image-->
                        <div class="view overlay">
                            <img class="img-fluid" src="https://images.pexels.com/photos/39310/wolf-predator-hunter-canis-lupus-39310.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb" alt="Tony Jiang">
                            <a href="https://github.com/jiangtony/">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!--Tony Jiang content-->
                        <div class="card-body">
                            <h4 class="card-title">Tony Jiang</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <!--Tony Jiang-->

                    <!--Yossef Cohen-->
                    <div class="card mb-3">
                        <!--Yossef Cohen image-->
                        <div class="view overlay">
                            <img class="img-fluid" src="https://images.pexels.com/photos/326900/pexels-photo-326900.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb" alt="Yossef Cohen">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!--Yossef Cohen content-->
                        <div class="card-body">
                            <h4 class="card-title">Yossef Cohen</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <!--Yossef Cohen-->
                </div>
            </div>
            <!--Team member cards-->

    </section>
    <!-- Section: Team / Who are we?-->

    <hr class="my-5">

    <!--Section: Help / Contact Us-->
    <section id="help" calss="text-center">
      <h2 class="mb-4 font-weight-bold text-center">Contact us</h2>

      <div class="row d-flex justify-content-center mb-4">
          <div class="col-md-8">

              <!-- Form contact -->
              <form class="p-6">

                <div class="md-form form-sm"> <i class="fa fa-user prefix grey-text"></i>
                  <input type="text" id="form3" class="form-control form-control-sm">
                  <label for="form3">Your name</label>
                </div>

                <div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
                  <input type="text" id="form2" class="form-control form-control-sm">
                  <label for="form2">Your email</label>
                </div>

                <div class="md-form form-sm"> <i class="fa fa-tag prefix grey-text"></i>
                  <input type="text" id="form32" class="form-control form-control-sm">
                  <label for="form34">Subject</label>
                </div>

                <div class="md-form form-sm"> <i class="fa fa-pencil prefix grey-text"></i>
                  <textarea type="text" id="form8" class="md-textarea form-control form-control-sm" rows="4"></textarea>
                  <label for="form8">Your message</label>
                </div>

                <div class="text-center mt-4">
                  <button class="btn btn-primary">Send </button>
                </div>
              </form>
              <!-- Form contact -->
          </div>
      </div>
    </section>
    <!--Section: Help / Contact Us-->

</div>
<!-- Other Sections -->

</main>
