<!-- Help Section: BookHunter -->
<div id="helppage" class="view">
     <div class="container-fluid full-bg-img rgba-black-light d-flex align-items-center justify-content-center">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 text-center back">

                <h2 class="display-3 font-bold white-text mb-2">Help</h2>

                <hr class="hr-light">
                <!-- Description -->
                <h4 class="white-text my-4">Curious about how to perform an exchange? </h4>
                <h4 class="white-text my-4">Scroll down or press the get help button!</h4>
                <a href="#helplink" class="btn btn-outline-white waves-effect waves-light">Get Help<i class="fa fa-book ml-2"></i></a>
            </div>
        </div>

     </div>
</div>


<!-- Help Section: BookHunter  -->
<section id = "helplink">
    <hr class="my-5">

    <h2 class="mb-4 font-weight-bold text-center ">Here are some tips to help you get started</h2>

    <div class="row d-flex justify-content-center ">
        <div>
          <ul>
            <li>Looking for a book? Just search for it on our All Books Page.</li>
            <li>If the book is available just click the thumbnail to view the owners profile.</li>
            <li>If the book is not available, try again at a later time.</li>
            <li>Send the owner of the book a message to coordinate a place and time to exchange! </li>
          </ul>
        </div>
    </div>

    <hr class="my-5">
</section>
