<div id="helppage" class="view full-page-intro">
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row wow fadeIn">
                <div class="col-md-3"></div>
                <!-- Center -->
                <div class="col-md-12">
                    <!-- Card -->

                    <div class="card">
                        <div class="card-body">
                            <p class="h4 text-center mb-4"><strong>Include Instructions here</strong></p>
                            <p class="card-text"> How, what, when, etc.... </p>
                            <div class="allbooks">
                              <p class = "card-text">use this area to create a help page similar to our home page</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
</div>
